@import url('https://rsms.me/inter/inter.css');
@font-face {
    src: url(/fonts/Uni\ Sans\ Heavy.otf);
    font-family: "Uni Sans";
}
@font-face {
    font-family: "Inter";
    src: url('https://rsms.me/inter/inter.css');
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #011E2F;
}

.special-word {
    background-color: #1E3847;
    padding: 2px 8px;
    border-radius: 20px;
}