RewriteEngine On

Options +MultiViews
ErrorDocument 404 /error/404.html

<Files "LICENSE">
  Require all denied
</Files>

<Files "README.md">
  Require all denied
</Files>

### LOCAL CONFIG BELOW THIS LINE