p { 
    margin-top: 2%;   
    color:white;
    font-family: "Inter";
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

p a {
    color: #ff212d;
}

/* ----------------------- */
/* REDIRECT RESPONSIVENESS */
/* ----------------------- */

@media only screen and (max-width: 1600px) {
    p {
        font-size: 38px;
    }
}

@media only screen and (max-width: 1250px) {
    p {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1020px) {
    p {
        font-size: 26px;
    }
}

@media only screen and (max-width: 940px) {
    p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 750px) {
    p {
        font-size: 14px;
    }
}