.footer-container {
    display: flex;
    flex-flow: row;
    background-color: white;
    color:black;
    padding: 1% 20%;
}

.footer-container p {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;

    width: 50%;
}

/* --------------------- */
/* FOOTER RESPONSIVENESS */
/* --------------------- */


@media only screen and (max-width: 1600px) {
    .footer-container p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1250px) {
    .footer-container p {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1020px) {
    .footer-container p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 940px) {
    .footer-container p {
        font-size: 7px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-container p {
        font-size: 6px;
    }
}