@media only screen and (max-width: 1600px) {
    .paragraph {
        font-size: 28px;
    }

    .introduction-text h1 {
        font-size: 61px;
    }

    .introduction-join-btn {
        padding: 12px 78px;
        font-size: 32px;
    }
    
    .data-field {
        font-size: 38px;
    }
    
    .data-field-subtitle {
        font-size: 16px;
    }

    .qotw-text h1 {
        font-size: 51px;
    }

    .partner-container h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 1250px) {
    .paragraph {
        font-size: 24px;
    }

    .introduction-text{
        width: 100%;
    }

    .introduction-text h1 {
        font-size: 56px;
    }

    .introduction-image {
        display: none;
    }

    .introduction-join-btn {
        padding: 10px 72px;
        font-size: 28px;
    }

    .data-field {
        font-size: 33px;
    }
    
    .data-field-subtitle {
        font-size: 13px;
    }

    .qotw-text {
        width: 100%;
    }

    .qotw-paragraph {
        padding-right: 3%;
    }

    .qotw-image { 
        display: none;
    }

    .partner-container h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1020px) {
    .paragraph {
        font-size: 22px;
    }

    .introduction-text h1 {
        font-size: 51px;
    }

    .introduction-join-btn {
        padding: 8px 67px;
        font-size: 28px;
    }

    .data-field {
        font-size: 31px;
    }
    
    .data-field-subtitle {
        font-size: 11px;
    }

    .qotw-text h1 {
        font-size: 38px;
    }

    .partner-container h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 940px) {
    .paragraph {
        font-size: 20px;
    }

    .introduction-text h1 {
        font-size: 46px;
    }

    .introduction-join-btn {
        padding: 7px 62px;
        font-size: 24px;
    }
    
    .data-field {
        font-size: 28px;
    }
    
    .data-field-subtitle {
        font-size: 8px;
    }

    .qotw-text h1 {
        font-size: 32px;
    }

    .partner-container h1 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 750px) {
    .paragraph {
        font-size: 16px;
    }

    .introduction-text h1 {
        font-size: 41px;
    }

    .introduction-join-btn {
        padding: 6px 60px;
        font-size: 24px;
    }

    .data-container {
        margin-top: 15%;
        flex-direction: column;
    }

    .data-field {
        font-size: 24px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
    }
    
    .data-field-subtitle {
        font-size: 10px;
    }

    .qotw-text h1 {
        font-size: 26px;
    }

    .partner-imgs {
        flex-direction: column;
        width: auto;
    }

    .partner-imgs a {
        margin-left: auto;
        margin-bottom: 3%;
        margin-right: auto;
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .paragraph {
        font-size: 16px;
    }

    .introduction-text h1 {
        font-size: 34px;
    }

    .introduction-join-btn {
        padding: 6px 60px;
        font-size: 22px;
    }

    .data-field {
        font-size: 24px;
    }
    
    .data-field-subtitle {
        font-size: 10px;
    }

    .qotw-text h1 {
        font-size: 24px;
    }
}