.paragraph {
    color:white;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
}

.introduction-container {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    color:white;
    font-family: "Inter";
    font-weight: 500;
}

.introduction-text {
    margin-top: 7%;
    width: 50%;
    display:flex;
    flex-direction: column;
}

.introduction-text h1 {
    font-family: "Uni Sans";
    font-size: 86px;
}

.introduction-paragraph {
    margin-top: 2%;
    padding-right: 6%;
}

.introduction-join-btn {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 5%;
    padding: 14px 82px;
    color: white;
    font-size: 34px;
    font-family: "Uni Sans", sans-serif;
    text-decoration: none;

    background-color: #FF212D;
    border-radius: 25px;
}

.introduction-join-btn:hover {
    transition: background-color 0.5s ease;
    background-color: #fa3e48;
}

.introduction-image {
    width: 50%;
}

.data-container {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    background-color: #062233;
    color:white;
    padding: 3% 0;
    font-family: "Inter";
    font-weight: 500;
}

.data-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #132d3d;
    border-radius: 10px;
    padding: 2% 0%;
    width: 18%;

    text-align: center;
    font-size: 41px;
    font-weight: 700;
}

.data-field-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #8e9ba3;
}

.qotw-container {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    color:white;
    font-family: "Inter";
    font-weight: 500;
}

.qotw-text {
    margin-top: 8%;
    width: 65%;
    display:flex;
    flex-direction: column;
}

.qotw-text h1 {
    font-family: "Uni Sans";
    font-size: 69px;
}

.qotw-paragraph {
    margin-top: 2%;
    padding-right: 30%;
}

.qotw-learn-more {
    margin-top: 2%;
    color: #ff212d;
    font-family: "Uni Sans", "Inter";
    text-decoration: underline solid transparent;
    transition: text-decoration 0.4s ease;
}

.qotw-learn-more:hover {
    text-decoration: underline solid currentColor;
}

.qotw-image {
    padding-left: 2%;
    width: 35%;
}

.partner-container {
    margin-top: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
    color:black;
    padding: 1% 0;
}

.partner-container h1 {
    width: 100%;
    text-align: center;
    font-family: "Uni Sans";
    font-size: 41px;
}

.partner-imgs {
    margin-top: 2%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.partner-imgs a {
    width: 14%;
}

.partner-imgs a img {
    width: 100%;
}

.partner-imgs a:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}