@media only screen and (max-width: 1600px) {
    .paragraph {
        font-size: 32px;
    }

    .introduction-text h1 {
        font-size: 65px;
    }

    .introduction-join-btn {
        padding: 14px 80px;
        font-size: 32px;
    }
    
    .data-field {
        font-size: 42px;
    }
    
    .data-field-subtitle {
        font-size: 20px;
    }

    .qotw-text h1 {
        font-size: 56px;
    }
}

@media only screen and (max-width: 1250px) {
    .paragraph {
        font-size: 28px;
    }

    .introduction-text{
        width: 100%;
    }

    .introduction-text h1 {
        font-size: 60px;
    }

    .introduction-image {
        display: none;
    }

    .introduction-join-btn {
        padding: 12px 75px;
        font-size: 30px;
    }

    .data-field {
        font-size: 37px;
    }
    
    .data-field-subtitle {
        font-size: 17px;
    }

    .qotw-text {
        width: 100%;
    }

    .qotw-paragraph {
        padding-right: 3%;
    }

    .qotw-image { 
        display: none;
    }
}

@media only screen and (max-width: 1020px) {
    .paragraph {
        font-size: 26px;
    }

    .introduction-text h1 {
        font-size: 55px;
    }

    .introduction-join-btn {
        padding: 10px 70px;
        font-size: 28px;
    }

    .data-field {
        font-size: 35px;
    }
    
    .data-field-subtitle {
        font-size: 15px;
    }

    .qotw-text h1 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 940px) {
    .paragraph {
        font-size: 24px;
    }

    .introduction-text h1 {
        font-size: 50px;
    }

    .introduction-join-btn {
        padding: 8px 65px;
        font-size: 26px;
    }
    
    .data-field {
        font-size: 32px;
    }
    
    .data-field-subtitle {
        font-size: 12px;
    }

    .qotw-text h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 750px) {
    .paragraph {
        font-size: 20px;
    }

    .introduction-text h1 {
        font-size: 45px;
    }

    .introduction-join-btn {
        padding: 6px 60px;
        font-size: 24px;
    }

    .data-container {
        margin-top: 15%;
        flex-direction: column;
    }

    .data-field {
        font-size: 28px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
    }
    
    .data-field-subtitle {
        font-size: 14px;
    }

    .qotw-text h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .paragraph {
        font-size: 18px;
    }

    .introduction-text h1 {
        font-size: 36px;
    }

    .introduction-join-btn {
        padding: 6px 60px;
        font-size: 24px;
    }

    .data-field {
        font-size: 26px;
    }
    
    .data-field-subtitle {
        font-size: 12px;
    }

    .qotw-text h1 {
        font-size: 26px;
    }
}