@import url("css/global.css");

.paragraph {
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.introductionContainer {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    color:white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.introductionText {
    margin-top: 7%;
    width: 50%;
    display:flex;
    flex-direction: column;
}

.introductionText h1 {
    font-family: "Uni Sans Heavy", sans-serif;
    font-weight: 900;
    font-size: 82px;
}

.introductionText h1 b {
    font-weight: 900;
}

.introductionParagraph {
    margin-top: 2%;
    padding-right: 6%;
}

.introductionJoinBtn {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 3%;
    padding: 14px 82px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 800;
    text-decoration: none;

    background-color: #FF212D;
    border-radius: 25px;
}

.introductionJoinBtn:hover {
    transition: background-color 0.5s ease;
    background-color: #fa3e48;
}

.introductionImage {
    width: 50%;
}

.dataContainer {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    background-color: #062233;
    color:white;
    padding: 3% 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.dataField {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #132d3d;
    border-radius: 10px;
    padding: 2% 0;
    width: 18%;

    text-align: center;
    font-size: 41px;
    font-weight: 700;
}

.dataFieldSubtitle {
    font-weight: 600;
    font-size: 20px;
    color: #8e9ba3;
}

.qotwContainer {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    color:white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.qotwText {
    margin-top: 8%;
    width: 65%;
    display:flex;
    flex-direction: column;
}

.qotwText h1 {
    font-family: "Uni Sans Heavy", sans-serif;
    font-size: 69px;
}

.qotwParagraph {
    margin-top: 2%;
    padding-right: 30%;
}

.qotwLearnMore {
    margin-top: 2%;
    color: #ff212d;
    font-family: "Uni Sans Heavy", "Inter", sans-serif;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.4s ease;
}

.qotwLearnMore:hover {
    text-decoration: underline solid currentColor;
}

.qotwImage {
    padding-left: 2%;
    padding-right: 4%;
    width: 35%;
}

.partnerContainer {
    margin-top: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
    color:black;
    padding: 1% 0;
}

.partnerContainer h1 {
    width: 100%;
    text-align: center;
    font-family: "Uni Sans Heavy", sans-serif;
    font-size: 41px;
}

.partnerLogos {
    margin-top: 2%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.partnerLogos a {
    width: 14%;
}

.partnerLogos a img {
    width: 100%;
}

.partnerLogos a:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}


.footerContainer {
    display: flex;
    flex-flow: row;
    background-color: white;
    color:black;
    padding: 1% 20%;
}

.footerContainer div {
    align-self: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;

    width: auto;
}

.footerLeft {
    margin-left: 5%;
}

.footerRight {
    margin-left: auto;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1600px) {
    .paragraph {
        font-size: 28px;
    }

.introductionText h1 {
        font-size: 61px;
    }

.introductionJoinBtn {
        padding: 12px 78px;
        font-size: 32px;
    }

.dataField {
        font-size: 38px;
    }

.dataFieldSubtitle {
        font-size: 16px;
    }

.qotwText h1 {
        font-size: 51px;
    }

.partnerContainer h1 {
        font-size: 36px;
    }

.footerContainer div {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1250px) {
    .paragraph {
        font-size: 24px;
    }

.introductionText{
        width: 100%;
    }

.introductionText h1 {
        font-size: 56px;
    }

.introductionImage {
        display: none;
    }

.introductionJoinBtn {
        padding: 10px 72px;
        font-size: 28px;
    }

.dataField {
        font-size: 33px;
    }

.dataFieldSubtitle {
        font-size: 13px;
    }

.qotwText {
        width: 100%;
    }

.qotwParagraph {
        padding-right: 3%;
    }

.qotwImage {
        display: none;
    }

.partnerContainer h1 {
        font-size: 32px;
    }

.footerContainer div {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1020px) {
    .paragraph {
        font-size: 22px;
    }

.introductionText h1 {
        font-size: 51px;
    }

.introductionJoinBtn {
        padding: 8px 67px;
        font-size: 28px;
    }

.dataField {
        font-size: 31px;
    }

.dataFieldSubtitle {
        font-size: 11px;
    }

.qotwText h1 {
        font-size: 38px;
    }

.partnerContainer h1 {
        font-size: 28px;
    }

.footerContainer div {
        font-size: 10px;
    }
}

@media only screen and (max-width: 940px) {
    .paragraph {
        font-size: 20px;
    }

.introductionText h1 {
        font-size: 46px;
    }

.introductionJoinBtn {
        padding: 7px 62px;
        font-size: 24px;
    }

.dataField {
        font-size: 28px;
    }

.dataFieldSubtitle {
        font-size: 10px;
    }

.qotwText h1 {
        font-size: 32px;
    }

.partnerContainer h1 {
        font-size: 22px;
    }

.footerContainer {
        padding: 1% 10%;
    }

.footerContainer div {
        align-self: flex-start;
        font-size: 10px;
        width: auto;
    }

.footerContainer {
        flex-direction: column;
    }

.footerLeft {
        margin-left: 18%;
        margin-bottom: 1%;
    }

.footerRight {
        margin-left: 18%;
    }
}

@media only screen and (max-width: 750px) {
    .paragraph {
        font-size: 16px;
    }

.introductionText h1 {
        font-size: 41px;
    }

.introductionJoinBtn {
        padding: 6px 60px;
        font-size: 24px;
    }

.dataContainer {
        margin-top: 15%;
        flex-direction: column;
    }

.dataField {
        font-size: 24px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
    }

.dataFieldSubtitle {
        font-size: 10px;
    }

.qotwText h1 {
        font-size: 26px;
    }

.partnerLogos {
        flex-direction: column;
        width: auto;
    }

.partnerLogos a {
        margin-left: auto;
        margin-bottom: 3%;
        margin-right: auto;
        width: 30%;
    }

.footerContainer div {
        font-size: 9px;
    }
}

@media only screen and (max-width: 500px) {
    .paragraph {
        font-size: 16px;
    }

.introductionText h1 {
        font-size: 34px;
    }

.introductionJoinBtn {
        padding: 6px 60px;
        font-size: 22px;
    }

.dataField {
        font-size: 24px;
    }

.dataFieldSubtitle {
        font-size: 10px;
    }

.qotwText h1 {
        font-size: 24px;
    }
}