.navUl {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.navUl li a {
    color: white;
    padding: 10px 20px;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.4s ease;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.navUl li a:hover {
    text-decoration: underline solid currentColor;
}

.activeLink {
    color: #ff212d !important;
}

.navbar {
    top: 0;
    right: 0;
    left: 0;
    background: #011E2F;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 15px;
    padding: 5px;
}

.navbar img {
    width: 95px;
}

.navRight {
    font-size: 11px;
    display: flex;
    margin-left: auto;
}

.hamburger {
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
    background: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.joinBtn {
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 40px;
    padding: 8px 45px;
    color: white;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-decoration: none;
    background-color: #FF212D;
    border-radius: 28px;
}

.joinBtn:hover {
    transition: background-color 0.5s ease;
    background-color: #fa3e48;
}

.socialBtn {
    align-self: center;
    margin-left: 30px;
    color: white;
}

.socialBtn:hover {
    transition: transform 0.2s ease;
    transform: scale(1.1);
}

/* --------------------- */
/* NAVBAR RESPONSIVENESS */
/* --------------------- */


@media only screen and (max-width: 1600px) {
    .navbar img {
        width: 85px;
    }

    .navUl li a {
        padding: 10px 20px;
        font-size: 20px;
    }

    .navRight {
        font-size: 10px;
    }

    .socialBtn {
        margin-left: 29px;
    }

    .joinBtn {
        font-size: 26px;
        padding: 8px 45px;
        margin-left: 22px;
    }
}

@media only screen and (max-width: 1250px) {
    .navbar img {
        width: 75px;
    }

    .navUl li a {
        padding: 10px 18px;
        font-size: 18px;
    }

    .navRight {
        font-size: 10px;
    }

    .socialBtn {
        margin-left: 26px;
    }

    .joinBtn {
        font-size: 24px;
        padding: 8px 40px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1020px) {
    .navbar img {
        width: 70px;
    }

    .navUl li a {
        padding: 10px 18px;
        font-size: 16px;

    }

    .navRight {
        font-size: 9px;
    }

    .socialBtn {
        margin-left: 22px;
    }

    .joinBtn {
        font-size: 22px;
        padding: 6px 30px;
        margin-left: 18px;
    }
}

@media only screen and (max-width: 940px) {
    .navbar img {
        width: 60px;
    }

    .navUl li a {
        padding: 10px 14px;
        font-size: 14px;
    }

    .navRight {
        font-size: 9px;
    }

    .socialBtn {
        margin-left: 16px;
    }

    .joinBtn {
        font-size: 20px;
        padding: 4px 28px;
        margin-left: 14px;
    }
}
@media only screen and (max-width: 750px) {
    .navUl {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navUl.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar {
        transition: all .5s ease;
    }

    .navbar img {
        width: 60px;
    }

    .navUl li {
        margin-bottom: 7px;
    }

    .navUl li a {
        font-size: 20px;
    }

    .hamburger {
        display: block;
    }

    .navRight {
        display:none
    }
}

